[diff]
external    = vimdiff-git.sh

[pager]
diff        =

[user]
	email = twolights@gmail.com
	name = Yi-Kuang Chen
[core]
	quotepath = false
	excludesfile = ~/.gitignore_global

[alias]
	co      = checkout
    stat    = status
    br      = branch
