[diff]
external    = vimdiff-git.sh

[pager]
diff        =

[user]
	email = twolights.chen@ipeen.com.tw
	name = Yi-Kuang Chen
[core]
	quotepath = false
	excludesfile = /Users/ykchen/.gitignore_global

[alias]
	co      = checkout
    stat    = status
    br      = branch

[merge]
    tool    = vimdiff
    conflictstyle = diff3

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
