[diff]
external    = vimdiff-git.sh

[pager]
diff        =

[user]
	email = daevanchen@gmail.com
	name = Evan Chen
[core]
	quotepath = false
	excludesfile = /Users/ykchen/.gitignore_global
	ignorecase = false

[alias]
    a       = add
    ad      = add
    cm      = commit
    cpk     = cherry-pick
    br      = branch
    co      = checkout
    dif     = diff
    l       = log
    ll      = log --name-status
    mt      = mergetool
    reb     = rebase
    rst     = reset
    st      = status
    stat    = status

[merge]
    tool    = vimdiff
    conflictstyle = diff3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
